body {
  border-radius: 100%;
  /*min-height: 100vh;*/
}
.sedan {
  background-color: hsl(31, 77%, 52%);
  --button-text-color: hsl(31, 77%, 52%);
}
.suv {
  background-color: hsl(184, 100%, 22%);
  --button-text-color: hsl(184, 100%, 22%);
}
.luxury {
  background-color: hsl(179, 100%, 13%);
  --button-text-color: hsl(179, 100%, 13%);
}
.flow-circular-regular {
  font-family: "Flow Circular", system-ui;
  font-weight: 400;
  font-style: normal;
}
/* <weight>: Use a value from 100 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */
/* <uniquifier>: Use a unique and descriptive class name*/
.lexend-deca-body {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.big-shoulders-display {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
}
p {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
}
div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  min-height: 100vh;
  /*height: 100vh;*/
}
article {
  display: flex;
  flex-direction: column;
  /*justify-content: space-evenly;*/
  /*align-items: left;*/
  justify-content: space-between;
  flex: 1;
  min-width: 200px;
  padding: 30px;
  gap: auto;
  margin: auto;
  /*min-height: fit-content;
  height: viewport-height;
  /*max-width: 480px;
  width: 100%;
  margin: auto;*/
}
button {
  font-family: "Lexend Deca", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  /*color: hsl(31, 77%, 52%);*/
  background-color: hsl(0, 100%, 100%);
  color: var(--button-text-color);
  border-radius: 50px;
  padding: 15px;
  border: none;
  width: fit-content;
}
img {
  width: 30%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
